.hold
{
	background-color: orange;

	border-radius: 1rem;
	
}

.received{
	background-color: rgb(24, 211, 24);

	border-radius: 1rem;
}

.btn{

	margin: 16px;
	width:17rem;
	border-radius: 1rem;
	

}

.btn.active{
	background-color: blue;
}

.tranHead{
	width: 100vw;
	height: 15vh;
	background-color: blue;
	text-align: center;

	color:white;
	font-size: 1rem;
}


.tranleft{

	text-align: center;

	cursor: pointer;
	
}

.tranRight{
	/* margin-top: 1.5rem; */
	text-align: center;
	/* padding-left: 4rem; */
	cursor: pointer;
}

.tranheadText{
	text-align: center;
	/* margin-top: 1.5rem;
	padding-bottom: 0.5rem; */
}

	